/* ^######################################## */
/* ^############ Navbar Styles ############# */
/* ^######################################## */



/* ^######################################## */
/* ^############ hero Styles ############# */
/* ^######################################## */

    

@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }

    .hero h2 {
        font-size: 3.375rem;
        padding: .625rem;
    }
}




/* ^################# carousel ####################### */

@media screen and (min-width:768px) {
    .carousel-item {
        text-align: center;
        p {
            max-width:778.3px ;
         
            /* background-color: aqua; */
        }
    }
}
@media screen and (min-width:995px) {
    .carousel-item {
        text-align: center;
        p {
            max-width:945.3px ;
         
            /* background-color: aqua; */
        }
    }
}


/* ^######################################## */
/* ^############ conter Styles ############# */
/* ^######################################## */


@media (min-width: 768px) {
    .h-md-50 {
        height: 60vh;
    }
}





/* ^######################################## */


/* ^######################################## */
/* ^############ gallery Styles ############# */
/* ^######################################## */
/*^========> Containe <========*/


/* ^######################################## */


/* ^######################################## */
/* ^############ Contact Styles ############# */
/* ^######################################## */



/* ^######################################## */
